.mix {
  width: 100%;
  aspect-ratio: 16/9;
  background: url(./assets/rotate1.jpg);
  background-size: 100%;
  background-color: #0ff;
  /* 背景颜色的混合模式 */
  background-blend-mode: lighten;
  position: relative;
  left: 0;
  overflow: hidden;
}

.mix::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./assets/rotate1.jpg) #f00;
  background-size: 100%;
  background-blend-mode: lighten;
  mix-blend-mode: darken;
  left: 5px;
  animation: shake .2s linear infinite;
}

@keyframes shake {
  50%{
    left: 0px;
  }

}