.card-container {
  width: 200px;
  height: 200px;
  position: relative;
}
.card-item {
  width: 100%;
  height: 50%;
  background-color: #000;
  box-shadow: 1px 1px 5px #666;
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 10em;
  line-height: 200px;
  overflow: hidden;
}
.card2, .card4 {
  top: 50%;
  line-height: 0;
}
.card2, .card3 {
  z-index: 2;
}
.card2 {
  backface-visibility: hidden;
  transform-origin: center top;
  transform: rotateX(180deg);
  /* animation: flip2 1s linear backwards infinite; */
  transition: transform 1s;
}
.card3 {
  transform-origin: center bottom;
  backface-visibility: hidden;
  /* animation: flip1 1s linear infinite; */
}
@keyframes flip1 {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-180deg);
  }
}
@keyframes flip2 {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}